
*{
    font-family: Avenir Next, sans-serif;

}
.lightgrey{
    color: lightgrey;
}

.trackform1{
    width:65%
}
.trackform2{
    width:35%
}
/* today header part */
@media only screen and (max-width: 760px) {
    .trackheader {
      flex-wrap: wrap;

    }
    .stopwatch{
        margin-top: 1rem;
    }
.trackflex{
    
    flex-wrap: wrap;
}

.trackform1{
    width: 100%;
    margin: auto;
    border: none;
    /* border: solid ; */
}
.trackform2{
    width: 100%;
    margin: auto;
    border: none;
    margin-top: 2rem;
}
.dataform{
    flex-wrap: wrap;
}
.datasubbox{
    margin-top: 1rem;
}
.cancel{
    display: none;
}
  }


.tfont{
    font-size: 12px;
    font-weight: bold;
    color: grey;
}

.trackform{
    background-color:rgba(235, 235, 235, 0.479);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 0.5rem;
}
.trackform input{
    border-color: lightgrey;
    background-color: white;
    /* color:rgb(238, 229, 229); */
    font-weight: 500;
}
.trackform textarea{
    background-color: white;
    border-color: lightgrey;
    /* color: rgb(127, 192, 138); */
   

}
.h{
    color:rgba(255, 163, 163, 0.952)
}