* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.uparent {
  color: #dbf1ff;
  background-color: #375d75;
  padding-top: 30px;
  padding-bottom: 20px;
}
.ufooterlogo {
  height: 80px;
  margin-bottom: 3px;
}
.ugridcontainer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  width: 85%;
  margin: auto;
}

.unul {
  list-style: none;
}

.unul > li {
  margin-bottom: 20px;
  font-weight: 400;
}
.unheading {
  font-size: 17.6px;
  font-weight: 700;
  margin-bottom: 20px;
}
.ubottomfooter {
  text-align: center;
  font-size: 22px;
}
.ubottomfooterspan {
  text-decoration: underline;
  font-weight: 700;
  margin-left: 10px;
}
.ubottomfooterspan:hover {
  text-decoration: none;
}
.ulogopara {
  font-size: 15px;
}

@media screen and (max-width: 800px) {
  .uparent {
    padding-left: 30px;
  }
  .ugridcontainer {
    width: 95%;
  }
  .unul > li {
    margin-bottom: 15px;
    font-weight: 400;
  }
}

@media screen and (max-width: 767px) {
  .ugridcontainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .ubottomfooter {
    font-size: 20px;
    color: floralwhite;
    width: 85%;
    text-align: left;
  }
  .unul > li {
    margin-bottom: 10px;
    font-weight: 400;
  }
}
